* {
	-webkit-transition: color .1s ease-in, border-color .1s ease-in, background-color .1s ease-in, opacity .1s ease-in;
	-moz-transition: color .1s ease-in, border-color .1s ease-in, background-color .1s ease-in, opacity .1s ease-in;
	transition: color .1s ease-in, border-color .1s ease-in, background-color .1s ease-in, opacity .1s ease-in;
}


body {
	color: #4d4d4d;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
}
h1 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 300;
	line-height: 60px;
	margin-bottom: 90px;
}

h1 .lg {
	font-size: 60px;
	font-weight: 700;
	line-height: 80px;
	display: block;
	letter-spacing: -3px;
}
h1 .sm {
	font-size: 35px;
	font-weight: 300;
	line-height: 60px;
}

h6 {
	color: #0d0d0d;
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.hr {
	height: 2px;
	margin: 120px 0;
	background-color: #e5e5e5;
}
.btn {
	display: inline-block;
	vertical-align: middle;
	height: 35px;
	padding: 14px 45px 0;
	border: 2px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	font-weight: 600px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn:hover {
	background-color: #FFB900;
	border-color: #FFB900;
	text-decoration: none;
}

.btn--warning {
	border-color: #FFB900;
	color: #0d0d0d;
}

.wrapper {
	margin: 0 auto;
	max-width: 1170px;
	width: 100%;
	padding: 0 40px;
}

header {
	position: absolute;
	top: 54px;
	left: 0;
	right: 0;
	z-index: 99;
}

.header-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.logo img{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 110px;
	height: 100%;
	/* border: 2px solid #ffffff; */
	/* border-radius: 50%; */
	/* font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	text-transform: uppercase; */

	/* color: #ffffff; */
}

.menu {
	list-style: none;
	display: flex;
}

.menu__item {
	position: relative;
	margin-left: 90px;
}
.menu__item:after {
	content: '\\\\';
	display: block;
	font-size: 16px;
	font-weight: 600px;
	line-height: 20px;
	color: #fff;
	position: absolute;
	left: 100%;
	margin-left: 40px;
	top: 0;
}
.menu__item:last-child::after {
	display: none;
}
.menu__link {
	font-size: 16px;
	font-weight: 600px;
	line-height: 20px;
	text-transform: uppercase;
	color: #fff;
}
.menu__link:hover {
	color: #0d0d0d;
}


.banner {
	text-align: center;
	padding-top: 400px;
	height: 680px;
	background: url("../images/bg_gradient.png") no-repeat center top;
	background-size: cover;
}


.heading {
	display: flex;
	align-items: center;

	margin: 0 auto 150px;
}

.heading h2 {
	color: #0d0d0d;
	font-size: 30px;
	font-weight: 700;
	line-height: 35px;
	width: 200px;
	flex: none;
	text-align: right;
	text-transform: uppercase;
	position: relative;
	margin-right: 40px;
}

.heading h2:after {
	content: '';
	display: block;
	width: 4px;
	height: 45px;
	background-color: #FFB900;
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -22px;
	margin-left: 19px;
}

.heading p {
	color: #4d4d4d;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
}

.about-wrap {
	display: flex;
	align-items: flex-start;
}

.about-wrap-content {
	display: flex;
	align-items: flex-start;
	flex: 1;
}

.about-wrap-content__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 125px;
	height: 125px;
	flex: none;
	font-size: 40px;

	margin-right: 29px;
	border: 2px solid #FFB900;
	background-color: #fff;
	border-radius: 50%;
}

.about-wrap-content-text h6 {
	margin-bottom: 16px;
	margin-top: 0;
}
.about-wrap-content-text p {
	color: #4d4d4d;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
}
.about-wrap-content-text .about-text {
	color: #FFB900;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	margin-bottom: 25px;
}

.about-wrap-img {
	position: relative;
	margin-left: 60px;
}

.about-wrap-img__icon {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	font-size: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* box-skills */

.box-skills__item {
	flex: 1;
	width: 50%;
}

.box-skills {
	display: flex;
}

.box-skills__item--img img{
	display: inline-block;
	max-width: 100%;
}

.box-skills__item--img {
	padding-right: 50px;
	text-align: right;
}

.box-skills__item--content {
	padding-left: 40px;

}


/* box-bars */

.bars {
	margin-bottom: 40px;
}
.box-bars {
	margin-top: 40px;
}
.bars__title {
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #0d0d0d;
	font-weight: 600;
	margin-bottom: 10px;
}

.bars__title span {
	color: #bfbfbf;
	font-weight: 600;
}

.bars__title .procent {
	color: #0d0d0d;
	font-weight: 300;
}

.bars-line {
	height: 10px;
	background: #e7e7e7;
}
.bars-line div{
	height: 10px;
	background: #FFB900;
}

.section {
		padding: 120px 0 100px;
}

.section-bg {
	height: 600px;
	display: flex;
	align-items: center;
	background: url("../images/quotes.png") no-repeat center top;
	background-size: cover;

}



/* quote */

.quote {
	text-align: center;
	color: #fff;
}

.quote__text {
	font-size: 45px;
	font-weight: 700;
	line-height: 60px;
	position: relative;
	padding: 0 70px;
	margin-bottom: 35px;
}

.quote__text:before, .quote__text:after {
	content: '"';
	display: block;
	position: absolute;
	font-size: 110px;
	font-weight: 700;
	line-height: 60px;
	top: 0;
}
.quote__text:before {
	left: 60px;
}
.quote__text:after {
	right: 60px;
}

.quote__author {
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
}

.quote__author:before {
	content: "";
	display: block;
	width: 50px;
	height: 4px;
	margin: 0 auto 20px;
	background-color: #FFB900;
}

/*Team*/



.team-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.team-list__item {
	width: 240px;
	padding: 25px 15px 30px;
	text-align: center;
	border-top: 4px solid transparent;
}
.team-list__item:hover {
	background-color: #f0f0f0;
	border-color: #FFB900;
}
.team-list__item:hover .team-list__job:after {
	background-color: #e74c3c;
}


.team-list__img {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 62px;
	background-color: #e8f8f4;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 6px solid #f2f2f2;
	position: relative;
	margin: 0 auto;
}

.team-list__img:after {
	content: "";
	display: block;
	position: absolute;
	width: 209px;
	height: 209px;
	border-radius: 50%;
	border: 1px solid #e5e5e5;
}

.team-list__img img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}

.team-list__job {
	color: #999999;
	font-size: 15px;
	line-height: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.team-list__job:after {
	content: '';
	display: block;
	margin: 10px auto 15px;
	width: 20px;
	height: 4px;
	background-color: #cccccc;
}

.social__link {
	color: #999999;
	font-style: 18px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
}

.social__link:last-child {
	margin-right: 0;
}

.social__link:hover {
	transition-duration: 0.1s;
	color: #FFB900;
}
.facts-list__item:hover .facts-list__icon{
	border-color: #fff;
}
.facts-list__item:hover .facts-list__icon [class*="icon"]:before{
	color: #FFB900;
}

.facts-list {
	display: flex;
	justify-content: space-between;
}

.facts-list__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 170px;
	margin-bottom: 30px;
	border-radius: 50%;
	border: 2px solid #FFB900;
	font-size: 32px;
}

.facts-list__icon [class*="icon"]:before {
	color: #fff;
}

.facts-list h5 {
	font-size: 25px;
	font-weight: 700;
	color: #fff;
	line-height: 29px;
	text-align: center;
}

.facts-list h5 span{
	font-size: 45px;
	display: block;
	line-height: 49px;
}

   /*Service*/

.service-list {
	display: flex;
	text-align: center;
	margin: 0 -20px;
}
.service-list__item {
	padding: 0 20px;
}
.service-list__item:hover .service-list__icon {
	background: #FFB900;
}
.service-list__item:hover .service-list__icon [class*="icon"]:before{
	color: #fff;
}
.service-list__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 105px;
	height: 105px;
	margin: 0 auto 30px;
	border-radius: 50%;
	border: 2px solid #FFB900;
	font-size: 32px;
}
.service-list__item h6 {
	margin-bottom: 10px;
}

.service-list__item p {
	color: #737373;
	font-size: 16px;
	line-height: 28px;
}

.service-list__icon [class*="icon"]:before{
	color: #0d0d0d;
}

   /*box-pracing*/

.box-pracing {
	display: flex;
}

.box-pracing .service-list__icon {
	margin-left: 0;
	height: 125px;
	width: 125px;
	font-size: 32px;
}

.pracing {
	display: flex;
	text-align: center;
	align-items: flex-start;
	margin-left: 5%;
}
.pracing__item {
	width: 250px;
	border: 1px solid #e6e6e6;
}
.pracing__item.active {
	border-right: none;
	border-left: none;
	border-top: 17px solid #FFB900;
	border-bottom: 11px solid #e5e5e5;
	background-color: #f2f2f2;
}

.pracing__item:first-child {
	margin-top: 17px;
	border-right: none;
}
.pracing__item:last-child {
	margin-top: 17px;
	border-left: none;
}
.pracing-header {
	padding: 25px 28px;
}
.pracing__item.active .pracing-header{
	background-color: #FFB900;
}
.pracing-header__title {
	color: #0d0d0d;
	font-size: 22px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
}
.pracing__item.active .pracing-header__title {
	color: #fff;
}

.pracing-header__title span::before {
	content: '';
	display: block;
	height: 2px;
	width: 50px;
	background-color: #FFB900;
	margin: 5px auto;
}
.pracing__item.active .pracing-header__title span::before {
	background: #fff;
}
.pracing-list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.pracing-list li {
	color: #737373;
	font-size: 15px;
	line-height: 18px;
	padding: 15px;
	border-top: 1px solid #e6e6e6;
}

.pracing-list li:last-child {
	border-bottom: 1px solid #e6e6e6;
}
.pracing-list li:nth-child(odd) {
  background-color: #fafafa;
}
.pracing__item.active .pracing-list li:last-child {
	border-bottom: none;
}
.pracing__item.active .pracing-list li:nth-child(odd) {
	background-color: #e5e5e5;
}

.pracing-footer {
	padding: 34px 28px;
}

.pracing__item.active .pracing-footer{
	background-color: #e5e5e5;
}

.pracing-footer .btn {
		height: 32px;
		padding: 9px 33px 0;
}

.testimonial {
	text-align: center;
	color: #fff;
}
.testimonial__text {
	width: 70%;
	margin: 35px auto 25px;
	font-size: 22px;
	font-style: italic;
	line-height: 30px;
	font-weight: 200;
}

.testimonial .quote__author::before {
	display: none;
}

.testimonial .quote__author::after{
	content: "";
	display: block;
	width: 50px;
	height: 4px;
	margin: 20px auto 0px;
	background-color: #FFB900;
}
.testimonial__avatar {
	width: 104px;
	height: 104px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}

.testimonial__avatar img {
	display: block;
	width: 100%;

}

.nav-tab-list {
	list-style: none;
	text-align: center;
	margin-bottom: 80px;
}

.nav-tab-list__item {
	display: inline-block;
}
.nav-tab-list__item.active .nav-tab-list__link {
	color: #FFB900;
}

.nav-tab-list__item::after {
	content: '\\\\';
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 700;
	color: #bfbfbf;
	line-height: 25px;
	margin: 0 18px;
}

.nav-tab-list__item:last-child:after {
	display: none;
}
.nav-tab-list__link {
	font-size: 14px;
	line-height: 25px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0d0d0d;
}

.nav-tab-list__link:hover {
	color: #FFB900;
}

.hide {
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
	z-index: -1;
	opacity: 0;
}

.tab-cont {
	opacity: 1;
	transition: opacity 0.4s;
}

.tab-cont.hide {
	opacity: 0;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
}

.portfolio-list__item {
	width: 25%;
	position: relative;
}

.portfolio-list__item:nth-child(2) .portfolio-list__img,
.portfolio-list__item:nth-child(4) .portfolio-list__img,
.portfolio-list__item:nth-child(5) .portfolio-list__img,
.portfolio-list__item:nth-child(7) .portfolio-list__img {
	background-color: #b7b7b7;
}

.portfolio-list__item:hover .portfolio-list__preview {
	display: block;
}
.portfolio-list__item:hover .portfolio-list__img [class*="icon"] {
	display: none;
}

.portfolio-list__item:hover .portfolio-list__title {
	color: rgba(243, 156, 18, 1);
}

.portfolio-list__item:hover .portfolio-list__img {
	background-color: rgba(199, 199, 199, 0.5);
}
.portfolio-list__link {
	position: absolute;
	top: 0;left: 0;right: 0;bottom: 0;
	z-index: 2;

}

.portfolio-list__img {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 38px;
	height: 220px;
	overflow: hidden;
	background-color: #c7c7c7;
	position: relative;
}
.portfolio-list__img img {
	display: block;
	width: 100%;
	min-height: 100%;
}

.portfolio-list__footer {
  padding: 20px 10px;
	text-align: center;
}
.portfolio-list__title {
	line-height: 22px;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #0d0d0d;
	margin-bottom: 4px;
}

.portfolio-list__category {
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 400;
}

.portfolio-list__preview {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 98px;
	height: 98px;
	border-radius: 50%;
	background: rgba(243, 156, 18, 0.5) url("../images/plus.png") no-repeat center;
	display: none;
	z-index: 3;
}
.portfolio-list__preview:hover {
	background-color: rgba(243, 156, 18, 0.8);
}

/* tweet */

.tweet {
	text-align: center;
	color: #fff;
}

.tweet-wrap__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 104px;
	height: 104px;
	margin: 0 auto;
	border: 2px solid #ffffff;
	border-radius: 50%;
}
.tweet-wrap__icon .fa-twitter {
	display: block;
	color: #f39c12;
	font-size: 35px;
}

.tweet-wrap__text {
	margin: 0 auto;
	width: 80%;
	margin: 35px auto 7px;
	font-size: 22px;
	line-height: 33px;
	font-weight: 700;
}

.tweet-wrap__text a {
	color: #f39c12;
}
.tweet-wrap__text a:hover {
	text-decoration: underline;
}
.tweet-wrap__time {
color: #808080;
}

/*Blog*/

.blog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.blog-list__item {
	width: 555px;
	margin-bottom: 60px;
}
.blog-list__img {
	position: relative;
	height: 300px;
	overflow: hidden;
}
.blog-list__img:hover .blog-list__title{
	color: #f39c12;
}
.blog-list__link {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.blog-list__img img {
	width: 100%;
	display: block;
	min-width: 300px;
}

.blog-list__header {
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: flex-end;
}

.blog-list__title {
	background: #fff;
	padding: 25px 20px 10px;
}

.blog-list__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: #f39c12;
	font-size: 18px;
	color: #fff;
}

.blog-list__footer {
	display: flex;
	padding-top: 20px;
}

.blog-list__date {
	text-align: right;
	color: #808080;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;

}

.blog-list__date span {
	display: block;
	white-space: nowrap;
}

.blog-list__info {
	padding: 0 17px 0 40px;
}

.blog-list__info p {
	padding-bottom: 28px;
	line-height: 28px;
	font-weight: 400;

}
.blog-list__info .btn--warning {
	height: 35px;
	font-size: 14px;
	padding: 8px 27px 0;
}





/**/
